<ion-view view-title="Browse">
  <ion-content>
    <h1>Browse</h1>
    <div class="card">
  <div class="item item-divider">
    I'm a Header in a Card!
  </div>
  <div class="item item-text-wrap">
   
  </div>
  <div class="item item-divider bottom">
     <div class="row responsive-sm"> 
	<div class="col col-33"> 
		<div class="cartao"  on-drag="onDrag($event)"  on-release="onRelease($event)" id="dragger_1" >
		  <div class="front">
		    <div class="spotA1">&clubs;</div>
		    <div class="spotA2">&clubs;</div>
		    <div class="spotA4">&clubs;</div>
		    <div class="spotA5">&clubs;</div>
		    
		    <div class="spotB2">&clubs;</div>
		    <div class="spotB4">&clubs;</div>
		   
		    <div class="spotC1">&clubs;</div>
		    <div class="spotC2">&clubs;</div>
		    <div class="spotC4">&clubs;</div>
		    <div class="spotC5">&clubs;</div>
		  </div>
		</div>
	  </div>
	  <div class="col col-33">
		<div class="cartao">
		  <div class="front">
		    <div class="spotA1">&clubs;</div>
		    <div class="spotA2">&clubs;</div>
		    <div class="spotA4">&clubs;</div>
		    <div class="spotA5">&clubs;</div>
		    
		    <div class="spotB2">&clubs;</div>
		    <div class="spotB4">&clubs;</div>
		   
		    <div class="spotC1">&clubs;</div>
		    <div class="spotC2">&clubs;</div>
		    <div class="spotC4">&clubs;</div>
		    <div class="spotC5">&clubs;</div>
		  </div>
		</div>
	  </div>
	  <div class="col col-33">	
		  <div class="cartao">
			  <div class="front">
			    <div class="spotA1">&clubs;</div>
			    <div class="spotA2">&clubs;</div>
			    <div class="spotA4">&clubs;</div>
			    <div class="spotA5">&clubs;</div>
			    
			    <div class="spotB2">&clubs;</div>
			    <div class="spotB4">&clubs;</div>
			   
			    <div class="spotC1">&clubs;</div>
			    <div class="spotC2">&clubs;</div>
			    <div class="spotC4">&clubs;</div>
			    <div class="spotC5">&clubs;</div>
			  </div>
			</div>
		</div>
	</div>
  </div>

   
  </ion-content>
</ion-view>
